.container {
  margin: 0 30px;
  padding-top: 130px;
}

.container__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data__dataInitial {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  h1 {
    font-family: raustila;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #638337;
    font-size: 54px;
    direction: ltr;
  }
}
@media (max-width: 600px) {
  .data__dataInitial {
    h1 {
      text-align: center;
    }
  }
}

.data__dataDescription {
  margin: 20px 0;
  width: 100%;
  h2 {
    font-family: raustila;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #638337;
    font-size: 36px;
    direction: ltr;
  }
  p {
    text-align: justify;
    line-height: 22px;
  }
}

@media (max-width: 600px) {
  .data__dataDescription {
    margin: 0;
    h2 {
      text-align: center;
    }
  }
}

.dataDescription__mision {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 600px;
}

@media (max-width: 600px) {
  .dataDescription__mision {
    padding: 0px;
  }
}

.dataDescription__vision {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 600px;
}

@media (max-width: 600px) {
  .dataDescription__vision {
    padding: 0px;
  }
}

.dataDescription__caracteristic {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
